SECRET_KEY=django-insecure-field-asset-checkout-service-dev-key-change-in-prod
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Database configuration (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=asset_checkout_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Redis & Celery configuration
REDIS_URL=redis://localhost:6339/0
CELERY_BROKER_URL=redis://localhost:6339/0
CELERY_RESULT_BACKEND=redis://localhost:6339/0
